.terminal-text {
    font-size: 12px;
    font-family: monospace;
}

.terminal-root {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 400px;
    left: 20px;
    bottom: 20px;
}

.terminal-input {
    background: transparent;
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

.terminal-input:focus {
    outline-width: 0;
}

.terminal-textarea {
    resize: none;
}
